.container {
    padding-inline: clamp(16px, 5%, 64px);
    padding-block: 32px;
    width: 100%;
}

.minerals {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    list-style: none;
}
.additionalProperties {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin-inline: 32px;
    margin-block: 64px;
}

.metadataSection {
    flex: 1;
    background-color: var(--darkAccent);
    padding: 32px;
    border-radius: 16px;
    min-width: 300px;
}