.minerals {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s3);
  list-style: none;
}
.additionalProperties {
  display: flex;
  gap: var(--s5);
  flex-wrap: wrap;
  margin-inline: clamp(var(--s3), 5%, (--s5));
  margin-block: var(--s5);
}

.metadataSection {
  flex: 1;
  background-color: var(--darkAccent);
  padding: var(--s5);
  border-radius: var(--br2);
  min-width: 300px;
}

.notes {
  background-color: var(--darkAccent);
  padding: var(--s5);
  margin-inline: clamp(var(--s3), 5%, (--s5));
  margin-block: var(--s5);
  border-radius: var(--br2);
}

.notes p {
  margin-bottom: var(--s2);
  min-height: 1rem;
}

.sectionTitle {
  margin-bottom: var(--s3);
  border-bottom: var(--s1) solid var(--lightAccent);
}

.iconSet {
  display: flex;
  column-gap: var(--s4);
  row-gap: var(--s2);
  flex-wrap: wrap;
}

.iconGroup {
  display: flex;
  gap: var(--s2);
  align-items: center;
}
