.checkboxWrapper {
  --selected-color: var(--lightAccent);
  --selected-color-pressed: var(--lightShade);
  --checkmark-color: var(--lightShade);

  display: flex;
  align-items: center;
  gap: var(--s2);
  font-size: 1rem;
  cursor: pointer;
  forced-color-adjust: none;
  border-radius: 4px;
  transition: all 200ms;
  &:hover {
    color: var(--lightAccent);
    .checkbox {
      transform: scale(1.1);
    }
  }

  .checkbox {
    width: 1.143rem;
    height: 1.143rem;
    border: 2px solid var(--lightAccent);
    border-radius: 4px;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .checkbox svg {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }

  &[data-pressed] .checkbox {
    border-color: var(--lightShade);
  }

  &[data-focus-visible] {
    color: var(--lightAccent);
    .checkbox {
      outline: 2px solid var(--lightAccent);
      outline-offset: 2px;
    }
  }

  &[data-selected] {
    .checkbox {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--selected-color-pressed);
      background: var(--selected-color-pressed);
    }

    .checkbox svg {
      stroke-dashoffset: 44;
    }
  }
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
}

.label {
  font-size: 1rem;
  font-weight: 500;
}
