.title {
  text-align: center;
  margin-block: var(--s3);
  font-size: 3rem;
}
.paginator {
  max-width: 300px;
  margin-inline: auto;
  margin-block: var(--s4);
}
.searchWrapper {
  width: clamp(300px, 50%, 600px);
  margin-inline: auto;
  margin-block: var(--s4);
}
