.card {
  color: var(--lightShade);
  margin: var(--s2);
  border-radius: var(--br1);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--darkAccent);
  transition: all 250ms ease-in-out;
}

.card a {
  text-decoration: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}
.card:hover,
.card:focus-within {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  .divider {
    width: 75%;
  }
}

.card:has(a:focus-visible) {
  outline: 2px solid var(--lightAccent);
  outline-offset: var(--s1);
}

.card:has(a:active) {
  transform: scale(0.98);
  box-shadow: none;
  .divider {
    width: 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
  align-items: center;
}

.content {
  padding: var(--s3);
}

.title {
  text-align: center;
}

.divider {
  height: var(--s1);
  border-radius: 2px;
  width: 25%;
  background-color: var(--lightAccent);
  transition: width 300ms ease-in-out;
}

.image {
  width: 100%;
}
