.headerContent {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  justify-content: flex-start;
  width: clamp(var(--s8), 50%, var(--s9));
}
a.link {
  --linkBaseColor: var(--lightShade);
  --linkHoverColor: var(--lightAccent);
  --linkActiveColor: var(--darkShade);
}

.link .linkUnderline {
  height: var(--s1);
  width: 0px;
  background-color: currentColor;
  transition: width 0.3s ease-out;
}

.link:hover .linkUnderline,
a.link:focus-visible .linkUnderline {
  width: 100%;
}
