.imageButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.imageButton .image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 6px 8px 0 var(--darkAccent);
    transition: all 0.2s ease-in-out;
}

.imageButton:hover .image {
    transform: scale(1.01);
    box-shadow: 10px 12px 0 var(--darkAccent);
}