.filters {
  height: 100%;
  width: 300px;
  background-color: var(--darkAccent);
  padding: var(--s3);
}

.filters[data-entering] {
  animation: slide-in 350ms ease-in-out forwards;
}

.filters[data-exiting] {
  animation: slide-in 350ms ease-in-out reverse;
}

@keyframes slide-in {
  from {
    margin-inline-start: -500px;
    display: none;
  }

  to {
    margin-inline-start: 0;
    display: block;
  }
}

.filterHead {
  border-bottom: var(--s1) solid var(--lightAccent);
  margin-bottom: var(--s3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: var(--s1);
}

.title {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.filterGroup {
  margin-bottom: var(--s3);
  display: flex;
  flex-direction: column;
  gap: var(--s3);
}

.divider {
  border-bottom: var(--s1) solid var(--lightAccent);
  margin-bottom: var(--s3);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  color: inherit;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  transition: all 200ms;

  &:before {
    content: '';
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 2px solid var(--lightAccent);
    border-radius: 50%;
    transition: all 200ms;
  }

  &:hover {
    color: var(--lightAccent);
  }

  &:hover:before {
    transform: scale(1.1);
  }

  &[data-pressed]:before {
    border-color: var(--lightShade);
    transform: scale(0.9);
  }

  &[data-selected] {
    &:before {
      border-color: var(--lightAccent);
      background: var(--lightAccent);
      border-width: 4px;
    }

    &[data-pressed]:before {
      border-color: var(--lightShade);
      background: var(--lightShade);
      transform: scale(0.9);
    }
  }

  &[data-focus-visible]:before {
    outline: 2px solid var(--lightAccent);
    outline-offset: 2px;
  }
}

.sidebarButton {
  position: fixed;
  top: calc(var(--s6) + var(--s3));
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--s2);
  border: none;
  background-color: var(--darkAccent);
  color: var(--lightAccent);
  border-top-right-radius: var(--br2);
  border-bottom-right-radius: var(--br2);
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus-visible {
    padding-inline-start: var(--s3);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  }

  &:focus-visible {
    outline: 2px solid var(--lightAccent);
    outline-offset: var(--s1);
  }

  &:active {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
    color: var(--lightShade);
    scale: 0.9;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.3);
  z-index: 100;
  backdrop-filter: blur(2px);
  &[data-entering] {
    animation: modal-fade 200ms ease-in forwards;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
