.container {
  position: fixed;
  top: calc(var(--s6) + var(--s3));
  left: 0;
  z-index: 100;
}
.filters {
  height: 100%;
  width: 300px;
  background-color: var(--darkAccent);
  padding: var(--s3);
}

.filters[data-entering] {
  animation: slide-in 350ms ease-in-out forwards;
}

.filters[data-exiting] {
  animation: slide-out 350ms ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    margin-inline-start: -500px;
    display: none;
  }

  100% {
    margin-inline-start: 0;
    display: block;
  }
}

@keyframes slide-out {
  0% {
    margin-inline-start: 0;
    display: block;
  }

  100% {
    margin-inline-start: -380px;
    display: none;
  }
}

.filterHead {
  border-bottom: var(--s1) solid var(--lightAccent);
  margin-bottom: var(--s3);
}
.filterGroup {
  margin-bottom: var(--s3);
  display: flex;
  flex-direction: column;
  gap: var(--s3);
}

.divider {
  border-bottom: var(--s1) solid var(--lightAccent);
  margin-bottom: var(--s3);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  color: inherit;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  transition: all 200ms;

  &:before {
    content: '';
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;
    border: 2px solid var(--lightAccent);
    border-radius: 50%;
    transition: all 200ms;
  }

  &:hover {
    color: var(--lightAccent);
  }

  &:hover:before {
    transform: scale(1.1);
  }

  &[data-pressed]:before {
    border-color: var(--lightShade);
    transform: scale(0.9);
  }

  &[data-selected] {
    &:before {
      border-color: var(--lightAccent);
      background: var(--lightAccent);
      border-width: 4px;
    }

    &[data-pressed]:before {
      border-color: var(--lightShade);
      background: var(--lightShade);
      transform: scale(0.9);
    }
  } 

  &[data-focus-visible]:before {
    outline: 2px solid var(--lightAccent);
    outline-offset: 2px;
  }
}

.paginator {
  display: flex;
  justify-content: space-between;
  gap: var(--s3);
  align-items: center;
}

.paginatorButton {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--s5);
  width: var(--s5);
  padding: var(--s1);
  border-radius: 50%;
  background-color: var(--darkAccent);
  color: var(--lightAccent);
  cursor: pointer;
  transition: all 200ms;
  border: none;

  &:hover:not([data-disabled]) {
    background-color: var(--lightAccent);
    color: var(--darkAccent);
    transform: scale(1.1);
  }

  &:active:not([data-disabled]) {
    transform: scale(0.9);
  }
  
  &[data-focus-visible] {
    outline: 2px solid var(--lightAccent);
    outline-offset: 2px;
  }

  &[data-disabled] {
    opacity: 0.5;
  }
}

.sidebarButton {
  position: absolute;
  top: 0;
  z-index: 200;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.5);
  z-index: 100;
  backdrop-filter: blur(5px);
  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}