.section {
  background-color: var(--darkAccent);
  padding: var(--s5);
  margin-inline: clamp(var(--s3), 5%, (--s5));
  margin-block: var(--s5);
  border-radius: var(--br2);
}

.section p {
  margin-bottom: var(--s2);
  min-height: 1rem;
}

.sectionTitle {
  margin-bottom: var(--s3);
  border-bottom: var(--s1) solid var(--lightAccent);
}

.imageSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-block: var(--s6);
  padding-block-start: var(--s5);
  border-top: var(--s1) solid var(--lightAccent);
}

.imageSectionTitle {
  position: absolute;
  top: calc(-1rem - 2px);
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  padding-inline: var(--s3);
  background-color: var(--darkShade);
  z-index: 1;
}
