a.backLink {
  color: var(--lightAccent);
  text-decoration: none;
  transition: color 250ms ease-in-out;

  &:hover,
  &:focus-visible {
    color: var(--lightShade);
  }

  &:active {
    color: var(--darkShade);
  }
}
