.sidebar {
  height: 100%;
  width: 300px;
  background-color: var(--darkAccent);
  padding: var(--s3);
}

.sidebar[data-entering] {
  animation: slide-in 350ms ease-in-out forwards;
}

.sidebar[data-exiting] {
  animation: slide-in 350ms ease-in-out reverse;
}

@keyframes slide-in {
  from {
    margin-inline-start: -500px;
    display: none;
  }

  to {
    margin-inline-start: 0;
    display: block;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.3);
  z-index: 100;
  backdrop-filter: blur(2px);
  &[data-entering] {
    animation: modal-fade 200ms ease-in forwards;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
