.sidebar {
  height: var(--visual-viewport-height);
  width: 300px;
  background-color: var(--darkAccent);
  padding: var(--s3);
  transition: transform 350ms ease-in-out;
  overflow-y: auto;
  &[data-entering],
  &[data-exiting] {
    transform: translatex(-500px);
  }
}

.dialog {
  padding-block: var(--s2);
  height: 100%;
  display: flex;
  flex-direction: column;
  &:focus-visible {
    outline: none;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.3);
  z-index: 100;
  backdrop-filter: blur(2px);
  transition: opacity 300ms ease-in-out;
  &[data-entering],
  &[data-exiting] {
    opacity: 0;
  }
}
