.imageGrid {
  margin-inline: var(--s5);
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  list-style: none;
  justify-items: center;
  justify-content: center;
  gap: var(--s5);
}
